.canvas {
  background-color: transparent;
  height: 100dvh;
  width: 100dvw;
  position: absolute !important;
  z-index: 0;
  left: 0;
  top: -100dvh;
  transition: top 800ms
    linear(
      0,
      0.009 0.9%,
      0.037 1.9%,
      0.147 4%,
      0.296 6%,
      0.772 11.7%,
      0.991 15%,
      1.071 16.6%,
      1.131 18.2%,
      1.173 19.8%,
      1.199 21.5%,
      1.208 23.7%,
      1.193 26.1%,
      1.16 28.6%,
      1.012 37.6%,
      0.977 41%,
      0.96 44.5%,
      0.96 49.5%,
      0.997 60.8%,
      1.008 67.3%,
      1
    )
    800ms;
}
