.canvas {
  background-color: transparent;
  height: 100dvh;
  width: 100dvw;
  position: absolute !important;
  z-index: 0;
  left: 0;
  top: -100dvh;
  transition: top 400ms
    linear(
      0,
      0.01 1%,
      0.039 2%,
      0.089 3.1%,
      0.154 4.2%,
      0.309 6.3%,
      0.794 12.1%,
      0.917 13.8%,
      1.022 15.5%,
      1.101 17.1%,
      1.162 18.7%,
      1.204 20.3%,
      1.23 22%,
      1.237 24.2%,
      1.219 26.7%,
      1.18 29.2%,
      1.059 35.3%,
      1.007 38.4%,
      0.967 41.8%,
      0.947 45.3%,
      0.948 50.4%,
      0.998 61.9%,
      1.012 68.4%,
      1
    )
    800ms;
}
