.root {
  /* height: 125px;
  width: 190px; */
  height: 131px;
  width: 196px;
  border-radius: 4px;
  color: white;
  font-size: 0.4rem;
  overflow: hidden;
  --aberration-offset: 0.005rem;
  --aberration-bleed: var(--override-aberration-bleed, 0.02rem);
  --aberration-opacity: var(--override-aberration-opacity, 0.6);
  --color: 247, 247, 225;
  --override-aberration-opacity: 0.6;
  /* filter: url(#pixelate); */
}

.pagination {
  position: absolute;
  bottom: 4px;
  right: 6px;
  font-size: 0.35rem;
  z-index: 5;
  transform: scaleY(1.3);
}

.basicSlide {
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.imageSlide {
  height: 100%;
  width: 100%;
}

.imageSlide img {
  object-fit: contain;
  max-height: 100%;
  min-width: 100%;
}

.basicSlide ul {
  list-style-type: none;
}

.squareImageSlide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0d0d;
}

.squareImageSlide img,
.squareImageSlide video {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

/* .root::before {
  content: "";
  position: absolute;
  display: flex;
  inset: 0;
  mix-blend-mode: overlay;
  z-index: 3;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); 
  pointer-events: none;
  background-repeat: repeat;
} */

.root {
  text-shadow: calc(var(--aberration-offset) * 3) 0 var(--aberration-bleed)
      rgba(0, 0, 255, var(--aberration-opacity)),
    calc(-3 * var(--aberration-offset)) 0 var(--aberration-bleed)
      rgba(255, 0, 0, var(--aberration-opacity)),
    calc(2 * var(--aberration-offset)) 0 var(--aberration-bleed)
      rgba(0, 255, 0, var(--aberration-opacity)),
    calc(-2 * var(--aberration-offset)) 0 var(--aberration-bleed)
      rgba(255, 0, 255, var(--aberration-opacity));
  font-family: var(--roboto-mono);
  font-weight: 300;
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
      circle,
      rgba(255, 0, 0, 0.15) 33%,
      transparent 33%
    ),
    radial-gradient(circle, rgba(0, 255, 0, 0.15) 33%, transparent 33%),
    radial-gradient(circle, rgba(0, 0, 255, 0.15) 33%, transparent 33%);
  background-size: 0.6px 0.6px, 0.6px 0.6px, 0.6px 0.6px;
  background-position: 0 0, 0.2px 0, 0.4px 0;
  pointer-events: none;
  z-index: 10;
  opacity: 0.4;
  mix-blend-mode: screen;
}

.textUpscaledY {
  transform: scaleY(1.3);
}

.snapchatBar {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 1px 2px;
  bottom: 4px;
  left: 0px;
  transform: scaleY(1.3);
}
