.root {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: 100dvh;
  flex-direction: column;
  gap: 1.8rem;
  margin: auto;
  font-family: var(--font-clash-display);
  padding: 1.5rem;
}

.root article {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
