.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 4rem;
  font-family: var(--font-clash-display);
}

.root ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.root li {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.root ul a {
  background-color: var(--accent);
  padding: 0 0.5rem;
  text-align: center;
}
