.page {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

.header {
  height: 100dvh;
  font-family: var(--font-clash-display);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  position: relative;
}

.cursor {
  font-family: var(--font-clash-display);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 1.1rem;
  border-radius: 100%;
  mix-blend-mode: difference;
  color: white;
  position: fixed;
  pointer-events: none;
  z-index: 999;
  top: 0;
  left: 0;
  text-align: center;
  border: solid 1px white;
}

.header button {
  background-color: transparent;
  border: none;
}

.header button:hover {
  cursor: pointer;
}

.header h1 {
  mix-blend-mode: difference;
  color: black;
}
