.header {
  height: 100dvh;
  font-family: var(--font-clash-display);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header button {
  background-color: transparent;
  border: none;
}

.header button:hover {
  cursor: pointer;
}

.header h1 {
  mix-blend-mode: difference;
  color: white;
}
