.header {
  height: 100dvh;
  font-family: var(--font-clash-display);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  mix-blend-mode: difference;
  color: white;
}
