.cameraRoll {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}
