.root {
  position: relative;
  font-family: var(--font-clash-display);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  font-family: var(--font-clash-display);
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.option {
  padding: 8px;
  cursor: pointer;
  font-family: var(--font-clash-display);
  font-weight: 700;
}

.option:hover {
  opacity: 0.7;
}
